.matchdetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.matchdetail {
  width: 98%;
  margin: 2.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.matchdetail-img-container {
  height: 38.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-img {
  border-radius: 50%;
}

.matchdetail-name {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-location {
  font-size: 0.8rem;
}

.matchdetail-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchdetail-button {
  width: 9rem;
  margin: 0 0.25rem 0 0.25rem;
}

.matchdetail-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-schedule-header {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.matchdetail-divider {
  width: 100%;
  border-top: 1px solid #DBDBDB;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}

.matchdetail-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchdetail-content {
  width: 94%;
}

.matchdetail-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.matchdetail-about-header {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.matchdetail-year {
  font-size: 0.8rem;
  font-style: italic;
}

.matchdetail-about-content {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  line-height: 150%;
}

.matchdetail-climbs-at {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.matchdetail-gyms {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.matchdetail-interests {
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.matchdetail-grades {
  font-weight: 400;
}

.matchdetail-empty-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-empty-message {
  color: #DBDBDB;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
