.matchdetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.matchdetail {
  width: 98%;
  margin: 2.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
}

.matchdetail-img-container {
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-img {
  height: 176px;
  width: 176px;
}

.match-image {
  border-radius: 50%;
}

.matchdetail-name {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-location {
  font-size: 0.8rem;
}

.matchdetail-nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.95rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchdetail-button {
  width: auto;
  margin: 0 0.25rem 0 0.25rem;
}

.matchdetail-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-schedule-header {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.matchdetail-divider {
  width: 100%;
  border-top: 1px solid #DBDBDB;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}

.matchdetail-divider-two {
  width: 100%;
  border-top: 1px solid #DBDBDB;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}

.matchdetail-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchdetail-content {
  width: 94%;
}

.matchdetail-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.matchdetail-about-header {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.matchdetail-year {
  font-size: 0.8rem;
  font-style: italic;
}

.matchdetail-about-content {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  line-height: 150%;
}

.matchdetail-climbs-at {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.matchdetail-gym {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.matchdetail-interests {
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.matchdetail-grades {
  font-weight: 400;
}

.matchdetail-empty-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-empty-message {
  color: #DBDBDB;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.matchdetail-tag {
  border-color: #DBDBDB !important;
  padding-left: 0.1 !important;
  padding-right: 0.1 !important;
}

.matchdetail-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 3.2rem;
}

.matchdetail-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.matchdetail-header-left {
  width: 20%;
  align-self: center;
}

.matchdetail-header-center {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchdetail-header-right {
  width: 20%;
  height: 3rem;
}

.matchdetail-header-back-nav {
  color: #4A4A4A;
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
}

.matchdetail-name-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.matchdetail-rating {
  font-size: 0.8rem;
  color: #5BCDB3;
  font-weight: 600;
}
