.matchdetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.matchdetail {
  width: 98%;
  margin: 2.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
}

.matchdetail-img-container {
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-img {
  height: 150px;
  width: 150px;
}

.match-image {
  border-radius: 50%;
}

.matchdetail-name {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-location {
  font-size: 0.8rem;
}

.matchdetail-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchdetail-button {
  width: auto;
  margin: 0 0.25rem 0 0.25rem;
}

.matchdetail-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchdetail-schedule-header {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
  font-style: italic;
}

.matchdetail-schedule-gym {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
}

.matchdetail-is-same-gym {
  color: #5BCDB3;
}

.matchdetail-divider {
  width: 100%;
  border-top: 1px solid #DBDBDB;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.matchdetail-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchdetail-content {
  width: 90%;
}

.content {
  margin-bottom: 0.8rem !important;
}

.matchdetail-about {
  font-size: 0.9rem;
}

.matchdetail-empty-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-empty-message {
  color: #DBDBDB;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.matchdetail-tag {
  border-color: #DBDBDB !important;
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.matchdetail-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 3.2rem;
}

.matchdetail-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.matchdetail-header-left {
  width: 20%;
  align-self: center;
}

.matchdetail-header-center {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchdetail-header-right {
  width: 20%;
  height: 3rem;
}

.matchdetail-header-back-nav {
  color: #4A4A4A;
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
}

.matchdetail-name-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchdetail-name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.matchdetail-rating {
  font-size: 0.8rem;
  color: #5BCDB3;
  font-weight: 600;
}

.matchdetail-schedule-tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchdetail-climberprofile {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.climberprofile-start-year {
  width: 33%;
  border-right: 1px solid #DBDBDB;
  height: 80%;
  font-weight: 500;
}

.climberprofile-interests {
  width: 33%;
}

.climberprofile-graderange {
  width: 33%;
  height: 80%;
  border-left: 1px solid #DBDBDB;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
