.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #5BCDB3;
}

.signup {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form {
  width: 16rem;
  align-self: center;
  margin-bottom: 2rem;
}

.signup-ropeup-logo {
  align-self: center;
  color: white;
  margin-bottom: 0.6rem;
  height: 10rem;
  width: 10rem;
}

.signup-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-button {
  width: 6rem;
}

.goto-login-button {
  color: white !important;
}
