.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #5BCDB3;
}

.signup {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form {
  width: 80vw;
  align-self: center;
  margin-top: 2.5rem;
}

.signup-ropeup-logo {
  align-self: center;
  color: white;
  margin-bottom: 0.6rem;
  height: 11rem;
  width: 11rem;
}

.signup-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-button {
  width: 30vw;
}

.goto-login-button {
  color: white !important;
}
