.matchlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.matchlist {
  width: 98%;
  margin: 2.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
}

.matchlist-title {
  font-size: 2.2rem;
  font-weight: 600;
  align-self: center;
}

.matchlist-box-container {
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 0.2rem;
  margin: 0.2rem;
}

.matchlist-box {
  margin: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.matchlist-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.matchlist-box-center {
  width: 44vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.matchlist-box-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.matchlist-img {
  border-radius: 50%;
}

.matchlist-rating {
  font-weight: 600;
  color: #5BCDB3;
}

.matchlist-details {
  display: flex;
  height: 1.5rem;
}

.matchlist-age {
  height: 1.25rem;
}

.matchlist-location {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.matchlist-interests {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 0.1rem;
}

.matchlist-graderange {
  margin-top: 0.1rem;
  margin-right: 0.3rem;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: right;
}

.matchlist-empty-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchlist-empty-message {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.matchlist-spinner {
  color: #DBDBDB;
}

.matchlist-empty-links {
  text-align: center;
  font-size: 0.8rem;
  width: 50%;
  font-weight: 300;
  font-style: italic;
}

.matchlist-empty-links a {
  color: #5BCDB3;
}
