.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.dashboard {
  width: 98%;
  margin: 2.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-image-container {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-image {
  border-radius: 50%;
}

.dashboard-image-name {
  margin-top: 0.25rem;
}

.dashboard-dropzone {
  border: 1px solid lightgray;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs:not(:last-child) {
  margin-bottom: 0.5rem !important;
}

.dashboard-tab {
  width: 94%;
}

.dashboard-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-form-item {
  margin: 0.3rem;
  display: flex;
  align-items: center;
}

.dashboard-form-label {
  margin-right: 0.4rem;
  font-weight: 500;
}

.dashboard-zip-input {
  width: 4.3rem;
}

.dashboard-birthday-input {
  width: 9.4rem;
}

.dashboard-gym-input {
  width: 13rem;
}

.dashboard-year-input {
  width: 3.7rem;
}

.dashboard-form-label-mid {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-weight: 500;
}

.is-white {
  border: 1px solid lightgray;
}

.is-light {
  border: 1px solid #FFFFFF;
}

.is-dark {
  border: 1px solid #363636;
}

.dashboard-grade-select {
  width: 5.7rem;
}

.dashboard-about-input {
  width: 17.8rem;
}

.textarea {
  min-height: 5.5rem !important;
}

.dashboard-edit-buttons {
  width: 50%;
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

.dashboard-edit-info-button {
  width: 48%;
  margin: 0.35rem;
}

.dashboard-divider {
  width: 100%;
  border-top: 1px solid #DBDBDB;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dashboard-schedule {
  min-height: 4.25rem;
}

.dashboard-schedule-empty-container {
  margin: 0.5rem 0.3rem 0.1rem 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-schedule-empty {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0;
  color: #DBDBDB;
  font-style: italic;
  font-weight: 300;
}

.dashboard-day-select {
  width: 9rem;
}

.dashboard-time-select {
  width: 5.6rem;
}

.dashboard-add-button {
  margin-top: 0.4rem;
  width: 14rem;
}

.dashboard-empty-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-empty-message {
  color: #DBDBDB;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.dashboard-logout-button {
  width: 50%;
  margin-top: 14.9rem;
}

.grade-tag {
  width: 6.7rem;
}
