.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.dashboard {
  width: 98%;
  margin: 0.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-img-container {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-empty {
  border-radius: 50%;
  border: 1px solid lightgray;
}

.dashboard-img {
  border-radius: 50%;
}

.dashboard-name {
  margin-top: 0.25rem;
}

.tabs:not(:last-child) {
  margin-bottom: 0.5rem !important;
}

.dashboard-tab {
  width: 94%;
}

.dashboard-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-form-item {
  margin: 0.3rem;
  display: flex;
  align-items: center;
}

.input {
  text-align: center;
}

.form-label {
  margin-right: 0.4rem;
  font-weight: 500;
}

.zip-input {
  width: 4.3rem;
}

.birthday-input {
  width: 9.4rem;
}

.gym-input {
  width: 13rem;
}

.year-input {
  width: 3.7rem;
}

.form-label-mid {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  font-weight: 500;
}

.grade-select {
  width: 5.6rem;
}

.day-select {
  width: 9rem;
}

.time-select {
  width: 5.6rem;
}

.edit-buttons {
  width: 50%;
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

.edit-info-button {
  width: 50%;
  margin: 0.25rem;
}

.is-white {
  border: 1px solid lightgray;
}

.is-light {
  border: 1px solid #FFFFFF;
}

.is-dark {
  border: 1px solid #363636;
}

.add-to-schedule-button {
  margin: 0.25rem;
  width: 12rem;
}

.empty-container {
  margin: 0.5rem 0.3rem 0.1rem 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-schedule {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0;
  color: #DBDBDB;
  font-style: italic;
  font-weight: 300;
}

.dashboard-divider {
  width: 100%;
  border-top: 1px solid #DBDBDB;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.schedule-items {
  min-height: 4.25rem;
}
