.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.dashboard {
  width: 98%;
  margin: 0.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard-img-container {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-img {
  border-radius: 50%;
}

.dashboard-name {
  margin-top: 0.25rem;
}

.tabs:not(:last-child) {
  margin-bottom: 1.1rem !important;
}

.dashboard-tab {
  width: 94%;
}

.dashboard-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-edit-item {
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

.input {
  text-align: center;
}

.edit-label {
  margin-right: 0.4rem;
  font-weight: 500;
}

.zip-input {
  width: 4.3rem;
}

.birthday-input {
  width: 9.4rem;
}

.gym-input {
  width: 13rem;
}

.year-input {
  width: 3.7rem;
}

.edit-label-mid {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  font-weight: 500;
}

.grade-select {
  width: 5.6rem;
}

.edit-buttons {
  width: 50%;
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

.edit-info-button {
  width: 50%;
  margin: 0.25rem;
}

.is-white {
  border: 1px solid lightgray;
}

.is-light {
  border: 1px solid #FFFFFF;
}

.is-dark {
  border: 1px solid #363636;
}
