.navbar-top-container {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-tabs {
  background-color: rgba(255, 255, 255, 1);
}

.tabs li.is-active a {
  border-bottom-color: #5BCDB3 !important;
  color: #5BCDB3 !important;
}

.navbar-unread-messages {
  z-index: 1;
  position: fixed;
  top: 0.4rem;
  right: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.5rem;
  background-color: #ED4C63;
  color: white;
  border-radius: 50%;
}

.navbar-no-unread-messages {
  display: none;
}
