.messagedetail-empty-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messagedetail-empty-message {
  color: #DBDBDB;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
