.messagedetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.messagedetail {
  width: 98%;
  margin: 2.2rem 0 0.2rem 0;
  display: flex;
  flex-direction: column;
}

.messagedetail-empty-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messagedetail-empty-message {
  color: #DBDBDB;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.messagedetail-title {
  font-size: 2.2rem;
  font-weight: 600;
  align-self: flex-end;
  margin-right: 0.6rem;
}

.messagedetail-divider {
  width: 100%;
  border-top: 1px solid #DBDBDB;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
}

.messagedetail-header {
  display: flex;
  flex-direction: column;
}

.messagedetail-header-back-nav {
  color: #4A4A4A;
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
}

.messagedetail-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messagedetail-header-top-right {
  margin: 0.2rem 0.6rem 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4A4A4A;
}

.messagedetail-header-name {
  font-size: 1.8rem;
  font-weight: 600;
  align-self: flex-end;
  line-height: 1.9rem;
}

.messagedetail-header-profile-link {
  font-size: 0.65rem;
  align-self: flex-end;
  color: gray;
}

.messagedetail-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.3rem;
}

.messagedetail-schedule-header {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
  font-style: italic;
}

.messagedetail-footer {
  background-color: white;
  height: 3.2rem;
  width: 100%;
  border-top: 1px solid #DBDBDB;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messagedetail-messagelist {
  overflow: auto;
  width: 100%;
  height: 25.8rem;
  display: flex;
  flex-direction: column;
}

.messagedetail-message {
  max-width: 16.5rem;
  background-color: whitesmoke;
  border-radius: 16px;
  margin: 0.4rem;
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  line-height: 1.2rem;
}

.messagedetail-is-user {
  align-self: flex-end;
}

.messagedetail-is-other {
  align-self: flex-start;
}

.messagedetail-user-message {
  background-color: #209cee;
  color: #FFFFFF;
}

.messagedetail-other-message {
  background-color: whitesmoke;
}

.messagedetail-input {
  width: 78%;
  margin-right: 0.5rem;
}

.messagedetail-send-button {
  margin-bottom: 0.3rem;
}

.messagedetail-timestamp {
  font-size: 0.7rem;
  font-weight: 300;
  color: gray;
  line-height: 0.5rem;
  padding-top: 0.7rem;
}

.messagedetail-time-left {
margin-left: 1.3rem;
}

.messagedetail-time-right {
  text-align: right;
  margin-right: 1.3rem;
}
